.footer {
    height: 100px;
    color: white;
    background-image: url("./banner3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    background-position-x: center;

}