.up-button {
    transform: translateX(130%);
}

.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.header.visible {
    transform: translateX(0);
}