:root,
.light,
.light-theme {
    --teal-1: #fafefd;
    --teal-2: #f3fbfa;
    --teal-3: #e1f7f4;
    --teal-4: #cff2ed;
    --teal-5: #bbe9e3;
    --teal-6: #a6ddd6;
    --teal-7: #89ccc4;
    --teal-8: #5cb7ae;
    --teal-9: #098b82;
    --teal-10: #007f76;
    --teal-11: #007e75;
    --teal-12: #153c38;

    --teal-a1: #00cc9905;
    --teal-a2: #00aa950c;
    --teal-a3: #00bba21e;
    --teal-a4: #00baa030;
    --teal-a5: #00ad9644;
    --teal-a6: #009e8a59;
    --teal-a7: #00918076;
    --teal-a8: #008f81a3;
    --teal-a9: #00877df6;
    --teal-a10: #007f76;
    --teal-a11: #007e75;
    --teal-a12: #002b26ea;

    --teal-contrast: #fff;
    --teal-surface: #f0faf9cc;
    --teal-indicator: #098b82;
    --teal-track: #098b82;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        :root,
        .light,
        .light-theme {
            --teal-1: oklch(99.4% 0.004 186.8);
            --teal-2: oklch(98.1% 0.008 186.8);
            --teal-3: oklch(96% 0.024 186.8);
            --teal-4: oklch(93.5% 0.037 186.8);
            --teal-5: oklch(90.1% 0.048 186.8);
            --teal-6: oklch(85.6% 0.057 186.8);
            --teal-7: oklch(79.8% 0.069 186.8);
            --teal-8: oklch(72.1% 0.088 186.8);
            --teal-9: oklch(57.4% 0.099 186.8);
            --teal-10: oklch(52.9% 0.112 186.8);
            --teal-11: oklch(52.9% 0.099 186.8);
            --teal-12: oklch(32.7% 0.044 186.8);

            --teal-a1: color(display-p3 0.024 0.757 0.514 / 0.016);
            --teal-a2: color(display-p3 0.02 0.647 0.557 / 0.044);
            --teal-a3: color(display-p3 0.004 0.655 0.58 / 0.102);
            --teal-a4: color(display-p3 0.004 0.663 0.565 / 0.161);
            --teal-a5: color(display-p3 0.004 0.612 0.529 / 0.232);
            --teal-a6: color(display-p3 0.004 0.541 0.478 / 0.306);
            --teal-a7: color(display-p3 0.004 0.486 0.427 / 0.404);
            --teal-a8: color(display-p3 0 0.471 0.424 / 0.55);
            --teal-a9: color(display-p3 0 0.388 0.353 / 0.757);
            --teal-a10: color(display-p3 0 0.349 0.314 / 0.785);
            --teal-a11: color(display-p3 0 0.349 0.314 / 0.789);
            --teal-a12: color(display-p3 0 0.122 0.106 / 0.875);

            --teal-contrast: #fff;
            --teal-surface: color(display-p3 0.945 0.976 0.973 / 0.8);
            --teal-indicator: oklch(57.4% 0.099 186.8);
            --teal-track: oklch(57.4% 0.099 186.8);
        }
    }
}


:root,
.light,
.light-theme {
    --gray-1: #fcfcfd;
    --gray-2: #f9f9fb;
    --gray-3: #eff0f3;
    --gray-4: #e7e8ec;
    --gray-5: #e0e1e6;
    --gray-6: #d8d9e0;
    --gray-7: #cdced7;
    --gray-8: #b9bbc6;
    --gray-9: #8b8d98;
    --gray-10: #80828d;
    --gray-11: #62636c;
    --gray-12: #1e1f24;

    --gray-a1: #00005503;
    --gray-a2: #00005506;
    --gray-a3: #00104010;
    --gray-a4: #000b3618;
    --gray-a5: #0009321f;
    --gray-a6: #00073527;
    --gray-a7: #00063332;
    --gray-a8: #00083046;
    --gray-a9: #00051d74;
    --gray-a10: #00051b7f;
    --gray-a11: #0002119d;
    --gray-a12: #000107e1;

    --gray-contrast: #FFFFFF;
    --gray-surface: #ffffffcc;
    --gray-indicator: #8b8d98;
    --gray-track: #8b8d98;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        :root,
        .light,
        .light-theme {
            --gray-1: oklch(99.1% 0.001 277.7);
            --gray-2: oklch(98.2% 0.003 277.7);
            --gray-3: oklch(95.6% 0.005 277.7);
            --gray-4: oklch(93.1% 0.006 277.7);
            --gray-5: oklch(91% 0.008 277.7);
            --gray-6: oklch(88.8% 0.009 277.7);
            --gray-7: oklch(85.3% 0.012 277.7);
            --gray-8: oklch(79.4% 0.016 277.7);
            --gray-9: oklch(64.6% 0.016 277.7);
            --gray-10: oklch(61% 0.016 277.7);
            --gray-11: oklch(50.3% 0.014 277.7);
            --gray-12: oklch(24.1% 0.01 277.7);

            --gray-a1: color(display-p3 0.024 0.024 0.349 / 0.012);
            --gray-a2: color(display-p3 0.024 0.024 0.349 / 0.024);
            --gray-a3: color(display-p3 0.008 0.067 0.255 / 0.063);
            --gray-a4: color(display-p3 0.012 0.051 0.216 / 0.095);
            --gray-a5: color(display-p3 0.004 0.039 0.2 / 0.122);
            --gray-a6: color(display-p3 0.004 0.027 0.18 / 0.153);
            --gray-a7: color(display-p3 0.008 0.027 0.184 / 0.197);
            --gray-a8: color(display-p3 0.004 0.031 0.176 / 0.275);
            --gray-a9: color(display-p3 0.004 0.02 0.106 / 0.455);
            --gray-a10: color(display-p3 0.004 0.02 0.098 / 0.499);
            --gray-a11: color(display-p3 0 0.008 0.059 / 0.616);
            --gray-a12: color(display-p3 0 0.004 0.027 / 0.883);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 1 1 1 / 80%);
            --gray-indicator: oklch(64.6% 0.016 277.7);
            --gray-track: oklch(64.6% 0.016 277.7);
        }
    }
}


darkmode .dark,
.dark-theme {
    --teal-1: #0a1311;
    --teal-2: #0e1b18;
    --teal-3: #042d25;
    --teal-4: #003c30;
    --teal-5: #00493c;
    --teal-6: #005849;
    --teal-7: #016b59;
    --teal-8: #00816d;
    --teal-9: #0c8873;
    --teal-10: #007a66;
    --teal-11: #6cd2ba;
    --teal-12: #b4f7e5;

    --teal-a1: #00bb1103;
    --teal-a2: #00f9b40b;
    --teal-a3: #00ffbb1e;
    --teal-a4: #00fbba2f;
    --teal-a5: #00ffc83c;
    --teal-a6: #00fdcb4d;
    --teal-a7: #00fdce61;
    --teal-a8: #00ffd578;
    --teal-a9: #08ffd580;
    --teal-a10: #00fed171;
    --teal-a11: #81ffe2cf;
    --teal-a12: #b9feebf7;

    --teal-contrast: #fff;
    --teal-surface: #0c251f80;
    --teal-indicator: #0c8873;
    --teal-track: #0c8873;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        .dark,
        .dark-theme {
            --teal-1: oklch(17.8% 0.014 176.4);
            --teal-2: oklch(20.9% 0.02 176.4);
            --teal-3: oklch(26.8% 0.046 176.4);
            --teal-4: oklch(31.3% 0.068 176.4);
            --teal-5: oklch(35.9% 0.075 176.4);
            --teal-6: oklch(41% 0.079 176.4);
            --teal-7: oklch(47% 0.087 176.4);
            --teal-8: oklch(54% 0.102 176.4);
            --teal-9: oklch(56.1% 0.102 176.4);
            --teal-10: oklch(51.6% 0.102 176.4);
            --teal-11: oklch(79.4% 0.102 176.4);
            --teal-12: oklch(92.7% 0.072 176.4);

            --teal-a1: color(display-p3 0 0.941 0.067 / 0.009);
            --teal-a2: color(display-p3 0.071 0.98 0.706 / 0.043);
            --teal-a3: color(display-p3 0.071 0.996 0.757 / 0.114);
            --teal-a4: color(display-p3 0.18 1 0.776 / 0.177);
            --teal-a5: color(display-p3 0.255 1 0.812 / 0.232);
            --teal-a6: color(display-p3 0.322 1 0.827 / 0.295);
            --teal-a7: color(display-p3 0.365 1 0.839 / 0.37);
            --teal-a8: color(display-p3 0.4 1 0.855 / 0.463);
            --teal-a9: color(display-p3 0.416 1 0.855 / 0.492);
            --teal-a10: color(display-p3 0.384 1 0.843 / 0.433);
            --teal-a11: color(display-p3 0.639 1 0.898 / 0.803);
            --teal-a12: color(display-p3 0.788 1 0.937 / 0.958);

            --teal-contrast: #fff;
            --teal-surface: color(display-p3 0.063 0.141 0.118 / 0.5);
            --teal-indicator: oklch(56.1% 0.102 176.4);
            --teal-track: oklch(56.1% 0.102 176.4);
        }
    }
}

.dark,
.dark-theme {
    --gray-1: #111113;
    --gray-2: #19191b;
    --gray-3: #222325;
    --gray-4: #292a2e;
    --gray-5: #303136;
    --gray-6: #393a40;
    --gray-7: #46484f;
    --gray-8: #5f606a;
    --gray-9: #6c6e79;
    --gray-10: #797b86;
    --gray-11: #b2b3bd;
    --gray-12: #eeeef0;

    --gray-a1: #1111bb03;
    --gray-a2: #cbcbf90b;
    --gray-a3: #d6e2f916;
    --gray-a4: #d1d9f920;
    --gray-a5: #d7ddfd28;
    --gray-a6: #d9defc33;
    --gray-a7: #dae2fd43;
    --gray-a8: #e0e3fd60;
    --gray-a9: #e0e4fd70;
    --gray-a10: #e3e7fd7e;
    --gray-a11: #eff0feb9;
    --gray-a12: #fdfdffef;

    --gray-contrast: #FFFFFF;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #6c6e79;
    --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {

        .dark,
        .dark-theme {
            --gray-1: oklch(17.8% 0.004 277.7);
            --gray-2: oklch(21.5% 0.004 277.7);
            --gray-3: oklch(25.5% 0.005 277.7);
            --gray-4: oklch(28.4% 0.008 277.7);
            --gray-5: oklch(31.4% 0.009 277.7);
            --gray-6: oklch(35% 0.01 277.7);
            --gray-7: oklch(40.2% 0.012 277.7);
            --gray-8: oklch(49.2% 0.016 277.7);
            --gray-9: oklch(54% 0.017 277.7);
            --gray-10: oklch(58.6% 0.016 277.7);
            --gray-11: oklch(77% 0.014 277.7);
            --gray-12: oklch(94.9% 0.003 277.7);

            --gray-a1: color(display-p3 0.067 0.067 0.941 / 0.009);
            --gray-a2: color(display-p3 0.8 0.8 0.98 / 0.043);
            --gray-a3: color(display-p3 0.851 0.898 0.988 / 0.085);
            --gray-a4: color(display-p3 0.839 0.871 1 / 0.122);
            --gray-a5: color(display-p3 0.847 0.875 1 / 0.156);
            --gray-a6: color(display-p3 0.878 0.898 1 / 0.194);
            --gray-a7: color(display-p3 0.875 0.906 0.996 / 0.257);
            --gray-a8: color(display-p3 0.894 0.906 1 / 0.37);
            --gray-a9: color(display-p3 0.89 0.91 1 / 0.433);
            --gray-a10: color(display-p3 0.902 0.918 1 / 0.488);
            --gray-a11: color(display-p3 0.945 0.949 1 / 0.719);
            --gray-a12: color(display-p3 0.992 0.992 1 / 0.937);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 0 0 0 / 5%);
            --gray-indicator: oklch(54% 0.017 277.7);
            --gray-track: oklch(54% 0.017 277.7);
        }
    }
}